body {
  height: 100vh;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gui-body {
  color: rgb(247, 70, 70);
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 999;
  /* background-color: ; */
}

.gui-body input {
  display: none;
}

.gui-body label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(4 * 14px);
  font-size: 14px;
  font-weight: 300;
  color: gray;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: lightgray 1px solid;
  border-radius: 5px;
}

/* .wrong {
  animation: shake normal 0.25s linear;
}

.right {
  border-color: rgb(54, 255, 188) !important;
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.gui {
  width: 45%;
}
@media screen and (max-width: 1280px) {
  .wrapper {
    flex-direction: column;
  }
  .gui {
    width: 100%;
  }
  .canvasWrap {
    height: max-content;
  }
  .gui-body {
    height: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gui-body label {
    margin: 5px;
    width: calc(33% - 10px);
    padding: 10px;
    font-size: 12px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
